html
{
  width: 100vw;
  height: 100vh;
}
body
{
  background: linear-gradient(135deg, #959595 0%,#4682B4 16%,#264264 60%,#2662A4 85%,#4682B4 95%,#B0C4DE 100%);
  color: #ffff88;
  margin:0px;
  width:100%;
  height:100%;
  overflow:hidden;
  text-align:center;
}
footer
{
  position:absolute;
  height:4vmax;
  width:100vw;
  bottom:0px;
  font-size:3vmin;
}  
div.blurb
{
  background: radial-gradient(ellipse at center, rgba(0,0,50,0.8) 0%, rgba(0,0,50,0.4) 100%); 
  border-style:ridge;
  border-width:4px;
  border-radius:20px;
  position:absolute;
  width:90vw;
  height:80vh;
  max-height: 80%;
  left:50%;
  top:50%;
  margin-left:-45vw;
  margin-top:-40vh;
  overflow-y: auto;
}
@media all and (orientation:landscape)
{
  table
  {
    width:98%;
    height:100%;
    margin:0 auto;
    text-align:center;
    font-size:4vmin;
  }
}
@media all and (orientation:portrait)
{
  table
  {
    width:98%;
    height:100%;
    margin:0 auto;
    text-align:center;
    font-size:3vmin;
  }
}
td.nav
{
  height:10vh;
  line-height:6vh;
  font-size:2.5vmin;
  vertical-align:top;
}
img.nav
{
  height:4vh;
  vertical-align:middle;
  filter: drop-shadow(1px 1px 3px #264264);
}
h1
{
  font-size: 160%;
  margin: 1vh;
}
a
{
  color:white;
}
.nav.a
{
  text-shadow: 1px 1px 2px #000;
}
h2
{
  font-size: 140%;
  margin:0 auto;
}
h3
{
  font-size: 120%;
  margin:5px;
}
#scanResult
{
  background: linear-gradient(to bottom, transparent, #cc0, #fff, #fff, #cc0,transparent);
  border-radius: 3vw;
  margin: 3vh;
  color: #00d;
  text-shadow: 1px 1px 3px #000;
  font-weight: bold;
}
.btn 
{
  background: #d1de59;
  background-image: linear-gradient(to bottom, #d1de59, #ab7344);
  border-radius: 14px;
  box-shadow: 3px 4px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover 
{
  background: #94bdd6;
  background-image: linear-gradient(to bottom, #94bdd6, #2b678f);
  text-decoration: none;
}
