body
{
  background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
  color: #ffff88;
  margin:0px;
  width:100vw;
  height:100vh;
  overflow:hidden;
  text-align:center;
}
footer
{
  position:absolute;
  height:4vh;
  width:100vw;
  bottom:0px;
  font-size:3vh;
}  
div.blurb
{
  background: radial-gradient(ellipse at center, rgba(0,0,50,0.9) 0%,rgba(0,0,50,0.1) 100%); 
  border-style:ridge;
  border-width:4px;
  border-radius:20px;
  position:absolute;
  width:90vw;
  height:80vh;
  max-height: 80%;
  left:50%;
  top:50%;
  margin-left:-45vw;
  margin-top:-40vh;
  overflow-y: auto;
}
@media all and (orientation:landscape)
{
  table
  {
    width:98%;
    height:100%;
    margin:0 auto;
    text-align:center;
    font-size:4vh;
  }
}
@media all and (orientation:portrait)
{
  table
  {
    width:98%;
    height:100%;
    margin:0 auto;
    text-align:center;
    font-size:4vw;
  }
}
td.nav
{
  height:10vh;
  line-height:6vh;
  font-size:2.5vh;
  vertical-align:top;
}
img.nav
{
  height:4vh;
  vertical-align:middle;
}
a
{
  color:white;
}
h2
{
  margin:0 auto;
}
h3
{
  margin:5px;
}
.btn 
{
  background: #d1de59;
  background-image: linear-gradient(to bottom, #d1de59, #ab7344);
  border-radius: 14px;
  box-shadow: 3px 4px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover 
{
  background: #94bdd6;
  background-image: linear-gradient(to bottom, #94bdd6, #2b678f);
  text-decoration: none;
}
