<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ page.url }}/github.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		</head>
		<body>
			<nav>
	    		<table>
	        		<tr>
					<td><a href="/">Home</a></td>
					<td><a href="/">About</a></td>
					<td><a href="/">Help</a></td>
					<td><a href="/">Developers</a></td>
				</tr>
	    		</table>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<a href="https://adrianotiger.github.io/qr2web/">adrianotiger.github.io/qr2web</a>
			</footer>
		</body>
	</html>
