<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.url }}/qr2web/github.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		</head>
		<body>
			<nav>
	    		<table>
	        		<tr>
					<td class="nav">
						<a href="{{ site.url }}/qr2web/index.html">
							<img src="{{ site.url }}/qr2web/images/home.png" class="nav"/> 
							Home
						</a>
					</td>
					<td class="nav">
						<a href="{{ site.url }}/qr2web/scan.html">
							<img src="{{ site.url }}/qr2web/images/scan.png" class="nav"/> 
							Scan
						</a>
					</td>
					<td class="nav">
						<a href="{{ site.url }}/qr2web/demos.html">
							<img src="{{ site.url }}/qr2web/images/help.png" class="nav"/>
							Demos
						</a>
					</td>
				</tr>
	    		</table>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<a href="https://adrianotiger.github.io/qr2web/">adrianotiger.github.io/qr2web</a>
			</footer>
		</body>
	</html>
