<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.url }}/qr2web/github.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		</head>
		<body>
			<nav>
	    		<table>
	        		<tr>
					<td><a href="index.html"><img src="images/home.png"/><br>Home</a></td>
					<td><a href="scan.html"><img src="images/scan.png"/><br>Scan</a></td>
					<td><a href="help.html"><img src="images/help.png"/><br>Help</a></td>
					<td><a href="info.html"><img src="images/info.png"/><br>About</a></td>
				</tr>
	    		</table>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<a href="https://adrianotiger.github.io/qr2web/">adrianotiger.github.io/qr2web</a>
			</footer>
		</body>
	</html>
